body {
    font-family: 'Hanken Grotesk', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #121212; /* Fondo oscuro */
    color: #e0e0e0; /* Texto claro */
    padding: 0 20px; /* Asegura un poco de margen en los lados en móviles */
}

.title {
    margin: 20px 0; /* Ajustado para dar espacio tanto arriba como abajo */
    text-transform: uppercase;
    color: #FFFFFF; /* Texto claro para el título */
    text-align: center; /* Asegura que el título esté centrado en dispositivos móviles */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cronometro {
    background-color: #1e1e1e; /* Fondo oscuro para el cronómetro */
    border: 2px solid #4a90e2;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Sombra más suave */
}

.hms {
    font-size: 2em;
    font-weight: bold;
    color: #4a90e2; /* Color brillante pero no demasiado duro */
}

.controls {
    margin-top: 20px;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s;
}
.boton-reproduccion {
    background-color: #4a90e2; /* Color específico para botones de reproducción */
}

.boton-reproduccion:hover {
    background-color: #3a7fd5; /* Color más oscuro al pasar el mouse para indicar interactividad */
}
.start {
    background-color: #4caf50;
}

.start:hover {
    background-color: #45a049;
}

.stop {
    background-color: #f44336;
}

.stop:hover {
    background-color: #e53935;
}

.reiniciar {
    background-color: #ff9800;
}

.reiniciar:hover {
    background-color: #fb8c00;
}

.eyecare-text {
    font-size: 1.2em;
    color: #e0e0e0;
    margin-top: 15px;
    text-align: center;
    opacity: 0.8;
    font-style: italic;
}

.info-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.info-box {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    flex-basis: calc(40% - 20px);
    max-width: calc(40% - 20px);
}

.info-box h2 {
    margin-top: 0;
    color: #ff9800;
}

.info-box p {
    margin-bottom: 0;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed; /* Cambiado de absolute a fixed para asegurar visibilidad */
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box; /* Asegura que el padding no altere el ancho */
}

.footer p {
    margin: 0;
    font-size: 0.8em;
}

@media (max-width: 600px) {
    body {
        height: auto; /* Permite que el contenido defina la altura */
        min-height: 100vh; /* Asegura que el viewport sea completamente cubierto */
        padding-bottom: 50px; /* Espacio adicional para el footer en móviles */
    }
    .boton {
        padding: 8px 15px;
        margin: 0 5px;
        font-size: 0.8em;
    }

    .hms {
        font-size: 1.5em;
    }

    .eyecare-text {
        font-size: 1em;
    }
    .info-box {
        flex-basis: calc(100% - 20px);
        max-width: calc(100% - 20px);
    }
    .footer p {
        font-size: 0.7em;
    }
        /* Oculta los controles de volumen en dispositivos móviles */
        label[for="volumeSound1"],
        input#volumeSound1,
        label[for="volumeSound2"],
        input#volumeSound2 {
            display: none;
        }
}
/* Estilos Generales para los Sliders */
input[type="range"] {
    -webkit-appearance: none; /* Remueve el estilo predeterminado para WebKit/Blink */
    appearance: none;
    width: 100%; /* Ancho completo para llenar el contenedor */
    height: 8px; /* Altura del track */
    background: #333; /* Color de fondo del track */
    outline: none; /* Remueve el outline al hacer focus */
    opacity: 0.7; /* Hace el slider ligeramente transparente */
    -webkit-transition: opacity .2s; /* Transición suave para WebKit/Blink */
    transition: opacity .2s;
    border-radius: 5px; /* Bordes redondeados para el track */
}

input[type="range"]:hover {
    opacity: 1; /* Opacidad completa al pasar el mouse */
}

/* Estilo para el Thumb del Slider (el círculo que se desliza) 
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remueve el estilo predeterminado para WebKit/Blink 
    appearance: none;
    width: 20px; /* Ancho del thumb 
    height: 20px; /* Altura del thumb 
    background: #4a90e2; /* Color de fondo del thumb 
    cursor: pointer; /* Cursor en forma de puntero 
    border-radius: 50%; /* Hace el thumb completamente redondo 
}

input[type="range"]::-moz-range-thumb {
    width: 20px; /* Ancho del thumb 
    height: 20px; /* Altura del thumb 
    background: #4a90e2; /* Color de fondo del thumb 
    cursor: pointer; /* Cursor en forma de puntero 
    border-radius: 50%; /* Hace el thumb completamente redondo 
}



/* Estilos para las Etiquetas */
label {
    display: block; /* Hace que la etiqueta use todo el ancho disponible */
    margin: 20px 0 10px; /* Espaciado arriba y abajo de la etiqueta */
    color: #e0e0e0; /* Color de texto claro */
    text-align: left; /* Alinea el texto a la izquierda */
}

.boton-reproduccion {
    margin-top: 10px;
}
